<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>상차리기</title>

        <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body>
        <form action="/api/writing" method="post" class="formstyle">
            <div class="container">
                <nav id="writing">
                    <button type="button" class="btn btn-outline-primary" onclick="history.back()">이전</button>
                    <button type="submit" class="btn btn-outline-primary">다음</button>
                </nav>
                <div class="left">
                    <img src="../image/food/<%= fEname %>.png" alt="전에 선택한거">    <!--ejs로 파일 이름 바뀌게 해서... 어쩌고 저쩌고 -->
                    <p>
                        <%= fname %>
                    </p>
                    <p>
                        <%= fdes %>
                    </p>
                </div>
                <div class="right">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="nickname" name="nickname" placeholder="닉네임 입력" cols="20" rows="1" required></textarea>
                        <label for="nickname" class="form-label">호패 (10자 이하)</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="letter_context" name="letter_context" placeholder="편지 입력" style="height: 300px;" required></textarea>
                        <label for="letter_context" class="form-label">내용</label>
                        <div class="alert alert-primary" role="alert" id="middleAge">
                            *말을 할때는 ᄯᅩᆨ바로 해야합니다. 욕설 등은 삭제됩니다.
                        </div>
                        <div class="alert alert-primary" role="alert">
                            *중세국어, 한자도 입력 가능하나 방점은 깨질 수 있습니다.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>