<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>궐련지 (Rolling paper)</title>

        <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/mainStyle.css">
    </head>

    <body>
        <img class="desk" src="../image/background/desk.png" alt="상">
        <div class="food-table carousel slide" data-bs-ride="carousel" data-bs-interval="2000" >

        </div>

        <nav class="menu">
            <div class="main-top left">
                <button type="button" class="btn" id="musicOn_btn"></button>
            </div>
            <div class="main-bottom">
                <div class="btn-group" role="group" aria-label="picture_success">
                    <form action="/api/main_letter" method="get">
                        <button type="submit" class="btn btn-light">상차리기<br>(편지쓰기)</button>
                    </form>
                </div>
            </div>
            <div class="main-top right">
                <form action="/api/main_help" method="get">
                    <button type="submit" class="btn" id="help_btn">
                        <img src="../image/icon/help.svg" alt="도움말">
                    </button>
                </form>
            </div>
        </nav>
        <script src="../resources/js/bootstrap.bundle.min.js"></script>
        <script src="/js/mainScript.js"></script>
    </body>
</html>
