<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상차리기</title>

    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="lastContainer">
        <img src="../image/icon/sample.jpg" alt="thanks" style="width:100px; height:100px;">
        <h2> 참여해줘서 고맙소! 알겠소!<br> </h2>
        <h3> 편지로도 축하하는 마음을 전할 수 있소이다 </h3>
        <nav>
            <div class="finish">
                <div class="btn-group" role="group" aria-label="picture_success">
                    <form action="/api/main_letter" method="get">
                        <button type="submit" class="btn btn-outline-primary">편지쓰러 갑세</button>
                    </form>
                    <form action="/api/success" method="get">
                        <button type="submit" class="btn btn-outline-primary">처음으로</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>